#crime_svg path.line {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}

.brexitLine {
    stroke: grey;
    stroke-dasharray: 3,3;
    stroke-width: 2;
    fill: none;
}

#crime_svg .axis path,
#crime_svg .axis line {
    fill: none;
    stroke: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

svg text {
	/*font-size: 20px;*/
}

nav.smartscroll-controls {
	position: fixed;
	top: 50%;
	left: 0;
  z-index: 1;
}


nav.smartscroll-controls > a {
	display: block;
	margin: 15px;
}

nav.smartscroll-controls > a.prev {
	border-color: #333333;
    border-style: solid none none solid;
    border-width: 2px;
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

nav.smartscroll-controls > a.next {
    border-color: #333333;
    border-style: none solid solid none;
    border-width: 2px;
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* BACK TO TOP ANCHOR */
a.smartscroll-totop {
	position: fixed;
	bottom: 15px;
	right: 25px;
	border-color: #333333;
    border-style: solid none none solid;
    border-width: 2px;
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
