#crime_svg path.line { 
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}

#crime_svg .brexitLine { 
    stroke: grey;
    stroke-width: 1;
    fill: none;
}

#crime_svg .axis path,
#crime_svg .axis line {
    fill: none;
    stroke: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

svg text {
	/*font-size: 20px;*/
}